### backend ###
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/!**/src/main/**/out/
backend/!**/src/test/**/out/
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

backend/gateway-service/.idea
backend/gateway-service/*.iws
backend/gateway-service/*.iml
backend/gateway-service/*.ipr
backend/gateway-service/out/
backend/gateway-service/!**/src/main/**/out/
backend/gateway-service/!**/src/test/**/out/
backend/gateway-service/.gradle
backend/gateway-service/build/
backend/gateway-service/!gradle/wrapper/gradle-wrapper.jar
backend/gateway-service/!**/src/main/**/build/
backend/gateway-service/!**/src/test/**/build/

backend/eureka-server/.idea
backend/eureka-server/*.iws
backend/eureka-server/*.iml
backend/eureka-server/*.ipr
backend/eureka-server/out/
backend/eureka-server/!**/src/main/**/out/
backend/eureka-server/!**/src/test/**/out/
backend/eureka-server/.gradle
backend/eureka-server/build/
backend/eureka-server/!gradle/wrapper/gradle-wrapper.jar
backend/eureka-server/!**/src/main/**/build/
backend/eureka-server/!**/src/test/**/build/

backend/account-service/.idea
backend/account-service/*.iws
backend/account-service/*.iml
backend/account-service/*.ipr
backend/account-service/out/
backend/account-service/!**/src/main/**/out/
backend/account-service/!**/src/test/**/out/
backend/account-service/.gradle
backend/account-service/build/
backend/account-service/!gradle/wrapper/gradle-wrapper.jar
backend/account-service/!**/src/main/**/build/
backend/account-service/!**/src/test/**/build/


### frontend ###
frontend/App/node_modules/
frontend/App/.expo/
frontend/App/dist/
frontend/App/web-build/
frontend/App/*.orig.*
frontend/App/*.jks
frontend/App/*.p8
frontend/App/*.p12
frontend/App/*.key
frontend/App/*.mobileprovision
frontend/App/.metro-health-check*
frontend/App/npm-debug.*
frontend/App/yarn-debug.*
frontend/App/yarn-error.*
frontend/App/.DS_Store
frontend/App/*.pem
frontend/App/.env*.local
frontend/App/*.tsbuildinfo

