### backend ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/!**/src/main/**/out/
backend/!**/src/test/**/out/
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### frontend ###
frontend/App/node_modules/
frontend/App/.expo/
frontend/App/dist/
frontend/App/web-build/
frontend/App/*.orig.*
frontend/App/*.jks
frontend/App/*.p8
frontend/App/*.p12
frontend/App/*.key
frontend/App/*.mobileprovision
frontend/App/.metro-health-check*
frontend/App/npm-debug.*
frontend/App/yarn-debug.*
frontend/App/yarn-error.*
frontend/App/.DS_Store
frontend/App/*.pem
frontend/App/.env*.local
frontend/App/*.tsbuildinfo

### shared ### 
shared/api/.idea
shared/api/*.iws
shared/api/*.iml
shared/api/*.ipr
shared/api/out/
shared/api/!**/src/main/**/out/
shared/api/!**/src/test/**/out/
shared/api/.gradle
shared/api/build/
shared/api/!gradle/wrapper/gradle-wrapper.jar
shared/api/!**/src/main/**/build/
shared/api/!**/src/test/**/build/




