@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn border và tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
}

/* Phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  /* background: #FFF; */
}

/* Thanh cuộn chính */
::-webkit-scrollbar-thumb {
  background: #B8C1CD;
  border-radius: 4px;
}

/* Tùy chỉnh màu sắc khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #B8C1CD;
}

/* Ẩn border */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: none;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-wave {
    animation: wave 1s infinite;
}